
body {
  margin: 0;
}

a {
  text-decoration: none;
}

#homePage {
  background-image: url(../assets/lake_tahoe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

#homePage h1 {
  color: #eeeeee;
  font-weight: stronger;
  background: rgba(192,192,192,.9);
  padding: 25px;
  margin-bottom: 400px;
  max-width: 60%;
  text-align: center;
  border-radius: 5px;
}
