body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

#homePage {
  background-image: url(../assets/lake_tahoe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

#homePage h1 {
  color: rgb(210,210,210);
  font-weight: stronger;
  background: rgba(11,5,18,.6);
  padding: 20px;
  margin-bottom: 400px;
  max-width: 40%;
  text-align: center;
  border-radius: 5px;
}
